{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><a href="{{ path('manual_index') }}">Test</a></h1>
                <a href="" class="btn btn-raised btn-primary">Demo</a>
            </div>
        </div>
    </div>
{% endblock %}